<!--<canvas width="500" height="500" #canvas-->
<!--        style="border: black solid 1px"-->
<!--&gt;</canvas>-->
<!--<button (click)="clear()">CLEAR</button>-->
<!--<button (click)="getImage()">Get IMAGE</button>-->

<!--<img *ngIf="image " [src]="image" width="500" height="500" alt="">-->
<h2>{{peer.id}}</h2>
<button mat-raised-button
        color="primary"
        [disabled]="isOnCall"
        (click)="connect()"
>
  Call
</button>


<button mat-raised-button
        class="ml-15"
        color="primary"
        (click)="toggleVideoMute()"
>
  <mat-icon [class.muted]="!videoEnabled">camera_alt</mat-icon>
</button>

<button mat-raised-button
        class="ml-15"
        color="primary"
        [class.muted]="!audioEnabled"
        (click)="toggleAudioMute()"
>
  <mat-icon>mic</mat-icon>
</button>

<app-video *ngFor="let remotePeerId of peersArray"
           [peer]="peer"
           [remotePeerId]="remotePeerId"
           [isOnCall]="isOnCall"
           [audioEnabledProp]="audioEnabled"
           [videoEnabledProp]="videoEnabled"

></app-video>
